<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcolatore IMC</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-ltX43OqI6U0sxa8YeU/TqdcY1L67lm8JYlHjG0MqI9eitfU4Oz9sl2SSBbb+UyHbWgnEGKJphF43VKWldBCPqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <p class="weigt peso">Weight <input type="text" name="Weight" /></p>
    <p class="weigt altezza">Height <input type="text" name="Height" /></p>
    <button class="btn btn-primary submit">Submit</button>
    <p class="ans risultato"></p>

    <script type=text/javascript src="{{url_for('static', filename='js/imcJS.js') }}"></script>
</body>
</html>
