<html>
    <head>
        <title>Regioni Italiano</title>
    </head>
    <body>
        <form action="/search" method = "GET">
            <p>Inserisci il nome della regione <select name="regione">
                <option value=""></option>
                {%for reg in reg_nome%}
                <option value="{{reg}}">{{reg}}</option>
                {%endfor%}
            </select></p>
            <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
        </form>
    </body>
</html>